// footer part css //
#footer {
  padding-top: 100px;
  background-color: #111111;
  font-family: 'Inter', sans-serif;

  .footer__text {
    .social__icon {
      padding-top: 35px;
    }
  }
}